.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'estelle';
  src: url('./Estelle.otf') format('truetype');
}

h2{
  font-family: "estelle";
  font-size: 5em !important;
  color: #aeffb1 !important;
}

h1{
  font-size: 2.1em !important;
}

.slider{
  width: 60% !important;
  margin-top: 80px;
}

.slider .slides{
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: white 0.5px solid;
}

.slid{
  filter: brightness(40%);
}

@media screen and (width<500px) {
  h1{
    font-size: 1.1em !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  h2{
    font-size: 4em !important;
  }

  .slider{
    width: 80% !important;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  h3{
    font-size: 2em !important;
  }

  img{
    
  }

}