.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'estelle';
  src: url('./Estelle.otf') format('truetype');
}

h2{
  font-family: "estelle";
  font-size: 100px !important;
}

h1{
  font-size: 40px !important;
}

.slider{
  width: 70% !important;
  margin-top: 80px;
}

.slider .slides{
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: white 1px solid;
}

img{
  opacity: 0;
}